@model AssingmentUsingDapper.Areas.Admin.Models.PatientVM

@{
    ViewData["Title"] = "Patient Details";
}

<h1>Patient Details</h1>

<p class="text-center">To Enter New Patient Click 
    <a asp-action="CreatePatient" class="btn btn-primary">Add New Patient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                MedicalCondition
            </th>
            <th>
                Followup
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Followup)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>|
                    <a asp-action="Delete"    asp-route-id="@item.Id" class="btn btn-warning">Delete</a>|
                    <a asp-action="Index" asp-controller="Priscription" asp-route-id="@item.Id" class="btn btn-outline-info">Add-Medicine</a>

                    @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
